html{
    height: 100%;
}

body {
    margin: 0px;
    min-height: 100%;
}

#headerArea {
    position: fixed;
    width: 100%;
    height: 60px;
}

#contentArea {
    position: absolute;
    width: 100%;
    min-height: 100%;
}

#miniMapCanvas {
    position: relative;
    width: 180px;
    height: 180px;
    top: 10px;
    left: 10px;
    margin-bottom: 10px;
    background-color: #222222;
}

#editorMenu {
    position: fixed;
    width: 200px;
    top: 60px;
    z-index: 10;
}

#mapArea {
    margin-top: 60px;
    position: fixed;
    width: 100%;
    height: 100%;
}

#mapPreview {
    margin: 0px 0px 0px 200px;
    height: calc(100% - 50px);
    background-color: #eeeeee;
    overflow: scroll;
}

#map {
    background-color: #222222;
}

#assetsArea {
    position: absolute;

}